// navigation-bar.scss

.navigation-bar {
  .navbar-brand {
    font-size: 40pt;
    padding: 20px; // Adjust the padding as desired
  }

  .offcanvas-body {
      font-size: 25px; // Adjust the font size for the links in the offcanvas

  }
}