$primary-color: #202020;
$accent-color: white;

// navigation-bar.scss

// Define the default font size
.navigation-bar {
  font-size: 20px; // Adjust the font size to your preference
}

// Media query for smaller navbar sizes
@media screen and (max-width: 991px) {
  .navigation-bar {
    font-size: 40px; // Increase the font size for smaller navbar screens
  }
}

