// General styles
$primary-color: #202020;
$accent-color: white;

* {
  background-color: $primary-color;
  color: $accent-color;
}

.navigation-bar {
  background-color: $primary-color;

  // Adjust navigation bar for smaller screens
  @media screen and (max-width: 768px) {
    height: 100px; /* Adjust the height as needed */
    font-size: xx-large; /* Adjust the font size as needed */
  }
}

// Card styles
.card-title.my-auto {
  color: $accent-color;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  border: none;
  font-size: large;
  justify-items: center;

  // Adjust movie title for smaller screens
  @media screen and (max-width: 768px) {
    font-size: xx-large; /* Adjust the font size as needed */
  }
}

// Form styles
.profile-form .signup-form {
  width: 50%;
}

.update-btn-col,
.deregister-btn-col {
  padding-top: 50px;
}

// Favorite list styles
.favorite-list {
  list-style-type: none;
  padding: 0;

  .list-group-item {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    border: none;
    padding: 8px 0;

    a {
      color: $accent-color;
      text-decoration: none;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    button {
      margin-left: 0.5rem;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }
}

// Button styles
.favorite-button.btn.btn-primary {
  color: $accent-color;
}
