.MovieView {
    padding: 20px;
    
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
    
    .row-title {
      margin-top: 10px;
      
      span {
        font-weight: bold;
        margin-right: 5px;
      }
    }
    
    .btn-primary {
      background-color: #007bff;
      color: #fff;
      
      &:hover {
        background-color: #0056b3;
      }
    }
    
    .favorite-button {
      background-color: #f8d61e;
      color: #000;
      border: none;
      
      &:hover {
        background-color: #e0c72e;
        color: #000;
      }
    }
  }
  