.MovieView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .movie-container {
    width: 80%;
  }
  
  .movie-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .image-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .favorite-button {
    margin-left: 10px;
  }
  