// General styles
$primary-color: #202020;
$accent-color: white;

.profile-container {
  * {
    background-color: $primary-color;
    color: $accent-color;
  }

  .profile-form,
  .signup-form {
    width: 50%;
    margin-bottom: 20px; // Add margin at the bottom
  }

  .update-btn-col,
  .deregister-btn-col {
    padding-top: 50px;
  }

  .favorite-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; // Add margin at the top

    .favorite-list {
      list-style-type: none;
      padding: 0;
    
      .list-group-item {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        border: none;
        padding: 8px 0;
    
        a {
          color: $accent-color;
          text-decoration: none;
          transition: transform 0.3s ease-in-out;
    
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

      .trash-can-icon {
        width: 24px;
        height: 24px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
        filter: brightness(120%); // Adjust the brightness to make it more pronounced
        background-color: $accent-color;
        // Red border
        border: 2px solid red;
        border-radius: 50%;
        padding: 2px;
      }

      button {
        margin-left: 0.5rem;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }