@import '~bootstrap/scss/bootstrap.scss';

$primary-color: #202020;
$accent-color: white;

@media only screen and (max-width: 576px ) and (min-width: 1200) {
  #custom-navigation-bar.navbar.navbar-dark {
    .navbar-collapse.collapse#basic-navbar-nav {
      font-size: 2.5rem;

      .navbar-link.nav-link,
      #custom-nav-link-home.navbar-link.nav-link,
      #custom-nav-link-profile.nav-link,
      #custom-nav-link-logout.nav-link {
        font-size: 2.5rem;
      }
    }
  }
}

