@import '~bootstrap/scss/bootstrap.scss';
$primary-color: #202020;
$accent-color: white;

@media only screen and (max-width: 576px) {
  #custom-navigation-bar.navbar.navbar-dark .navbar-collapse.collapse.navbar-collapse.collapse.show #basic-navbar-nav {
    font-size: 2.5rem;

    .navbar-link.nav-link {
      font-size: 2.5rem;
    }
  }
}
